.order {
  padding: 20px 50px;
  text-align: center;
  gap: 50px;

  .left {
    text-align: center;
    gap: 50px;

    h2 {
      text-align: center;
    }

    table {
      gap: 50px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      text-align: center;
    
      thead {
        text-align: center;
        tr {
          text-align: center;
          th {
            text-align: center;
            padding-bottom: 20px;
            font-size: 20px;
          }
        }
      }
    
      tbody {
        tr {
          height: 80px;
    
          td {
            padding: 0px 30px;
          }
        }
      }
    }
  }
}
